Adafruit-BBIO==0.0.20
PyBBIO==0.9.3
PyDispatcher==2.0.5
argparse==1.2.1
configobj==4.7.2
decorator==3.3.3
distribute==0.7.3
gyp==0.1
ipython==0.13.1
numpy==1.6.2
paho-mqtt==1.1
pexpect==2.4
pyserial==2.5
python-apt==0.8.8.2
redis==2.10.5
simplegeneric==0.8.1
smbus==1.1
ufw==0.31.1.post2
uptime==3.0.1
urwid==1.0.1
wicd==1.7.2.4
wsgiref==0.1.2
