[Unit]
Description=emonHub data multiplexer
# The config file lives in /home/pi/data (symlinked from /etc/emonhub)
# The log file lives in the tmpfs at /var/log
Requires=var-log.mount home-pi-data.mount
After=var-log.mount home-pi-data.mount network.target

[Service]
User=emonhub
ExecStart=/usr/local/bin/emonhub/emonhub.py --config-file=/etc/emonhub/emonhub.conf --logfile=/var/log/emonhub/emonhub.log
PermissionsStartOnly=true
ExecStartPre=/bin/mkdir -p -m 0775 /var/log/emonhub/
ExecStartPre=/bin/chgrp -R emonhub /var/log/emonhub/
Type=exec
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
